In [1]:
import sklearn
print(sklearn.__version__)

1.0.2

In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

iris = load_iris()

iris_data = iris.data
iris_label = iris.target

iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df['label']=iris.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [4]:
X_train, X_test, Y_train, Y_test= train_test_split(iris_data, iris_label,
                                                   test_size=0.2, random_state=11)

dt_clf = DecisionTreeClassifier(random_state=11)
dt_clf.fit(X_train, Y_train)

pred = dt_clf.predict(X_test)
pred

array([2, 2, 1, 1, 2, 0, 1, 0, 0, 1, 1, 1, 1, 2, 2, 0, 2, 1, 2, 2, 1, 0,
       0, 1, 0, 0, 2, 1, 0, 1])

In [6]:
from sklearn.metrics import accuracy_score

print("accuracy score : {:.4f}".format(accuracy_score(Y_test, pred)))

accuracy score : 0.9333

In [8]:
from sklearn.model_selection import KFold
import numpy as np

iris = load_iris()
features = iris.data
label = iris.target
dt_clf = DecisionTreeClassifier(random_state=156)

kfold = KFold(n_splits=5)
cv_accuracy = []
print('data size : {}'.format(features.shape[0]))

data size : 150

In [11]:
n_iter = 0
for train_index, test_index in kfold.split(features):
    X_train, X_test = features[train_index], features[test_index]
    Y_train, Y_test = label[train_index], label[test_index]
    dt_clf.fit(X_train, Y_train)
    pred = dt_clf.predict(X_test)
    n_iter+=1
    accuracy = np.round(accuracy_score(Y_test, pred), 4)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    print("K-Fold Accuracy Score : {}, Train Data Size : {}, Test Data Size : {}".format(accuracy, train_size, test_size))
    cv_accuracy.append(accuracy)

print("AVERAGE SCORE : {}".format(np.mean(cv_accuracy)))

K-Fold Accuracy Score : 1.0, Train Data Size : 120, Test Data Size : 30
K-Fold Accuracy Score : 0.9667, Train Data Size : 120, Test Data Size : 30
K-Fold Accuracy Score : 0.8667, Train Data Size : 120, Test Data Size : 30
K-Fold Accuracy Score : 0.9333, Train Data Size : 120, Test Data Size : 30
K-Fold Accuracy Score : 0.7333, Train Data Size : 120, Test Data Size : 30
AVERAGE SCORE : 0.9

In [14]:
from sklearn.model_selection import StratifiedKFold

iris = load_iris()
iris_df = pd.DataFrame(data = iris.data, columns = iris.feature_names)
iris_df['label']=iris.target
skf = StratifiedKFold(n_splits=3)
n_iter = 0

cv_accuracy = []

for train_index, test_index in skf.split(iris_df, iris_df['label']):
    n_iter+=1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print("SKFK-FOLD test {}".format(n_iter))
    print("TRAIN DATA : \n{}".format(label_train.value_counts()))
    print("TEST DATA : \n{}".format(label_test.value_counts()))

SKFK-FOLD test 1
TRAIN DATA :
2    34
0    33
1    33
Name: label, dtype: int64
TEST DATA :
0    17
1    17
2    16
Name: label, dtype: int64
SKFK-FOLD test 2
TRAIN DATA :
1    34
0    33
2    33
Name: label, dtype: int64
TEST DATA :
0    17
2    17
1    16
Name: label, dtype: int64
SKFK-FOLD test 3
TRAIN DATA :
0    34
1    33
2    33
Name: label, dtype: int64
TEST DATA :
1    17
2    17
0    16
Name: label, dtype: int64

In [15]:
skfold = StratifiedKFold(n_splits=3)
n_iter = 0
cv_accuracy = []

for train_index, test_index in skfold.split(features, label):
    X_train, X_test = features[train_index], features[test_index]
    Y_train, Y_test = label[train_index], label[test_index]
    dt_clf.fit(X_train, Y_train)
    pred = dt_clf.predict(X_test)

    n_iter+=1
    print("TEST {}".format(n_iter))
    acc = np.round(accuracy_score(Y_test, pred), 4)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    print("ACC SCORE : {} TRAIN DATA SIZE : {} TEST DATA SIZE : {}".format(acc, train_size, test_size))
    cv_accuracy.append(acc)

print("AVERAGE SCORE : {:.4f}".format(np.mean(cv_accuracy)))

TEST 1
ACC SCORE : 0.98 TRAIN DATA SIZE : 100 TEST DATA SIZE : 50
TEST 2
ACC SCORE : 0.94 TRAIN DATA SIZE : 100 TEST DATA SIZE : 50
TEST 3
ACC SCORE : 0.98 TRAIN DATA SIZE : 100 TEST DATA SIZE : 50
AVERAGE SCORE : 0.9667

In [34]:
from sklearn.model_selection import cross_val_score, cross_validate

iris_data = load_iris()
dt_clf = DecisionTreeClassifier(random_state = 156)

data = iris_data.data
label = iris_data.target

scores = cross_val_score(dt_clf, data, label, scoring='accuracy', cv=3)
print("ACC Score : {}".format(scores))
print("AVERAGE ACC Score : {}".format(np.round(np.mean(scores), 4)))

ACC Score : [0.98 0.94 0.98]
AVERAGE ACC Score : 0.9667